[Unit]
Description=HORST
After=s3tp.service eps.service adcs.service pl.service thm.service

StartLimitIntervalSec=10min
StartLimitBurst=10

[Service]
Type=dbus
#User=misc
BusName=moveii.horst
ExecStartPre=-/opt/cdh_horst/scripts/startup_service.sh
ExecStart=/opt/cdh_horst/horst -b 30 -s /opt/cdh_horst/scripts/

WatchdogSec=90
Restart=always
RestartSec=30

[Install]
WantedBy=MOVEII.target
