[Unit]
Description=HORST: DEPLOYED Signal
After=horst.service

[Service]
Type=oneshot
#User=misc
ExecStart=/bin/dbus-send --dest=moveii.horst --type=signal /moveii/leop moveii.leop.leopStateChange string:"DEPLOYED"

[Install]
WantedBy=skip-LEOP.target
