[Unit]
Description=HORST
After=dbus.service s3tp.service eps.service adcs.service pl.service thm.service

[Service]
Type=dbus
#User=misc
BusName=moveii.horst
ExecStart=/opt/cdh_horst/horst -b 70 -s /opt/cdh_horst/scripts/

[Install]
WantedBy=MOVEII.target
